{% extends 'base.html' %}
{% block title %} Soplaya{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3">
                <form class="row g-3 needs-validation" novalidate action="." method="GET">
                    <div class="col-md-4">
                        <label class="form-label" for="restaurant">Restaurant</label>
                        <select class="form-select" name="restaurant" value="{{ query|escape }}" aria-label="Restaurant">
                            <option selected disabled></option>
                            <option>Copacabana</option>
                            <option>Noodle Bar</option>
                            <option>Jack Rabbit</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="start_date">Start Date</label>
                        <input type="date" class="form-control" id="startdate" name="startdate">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="end_date">End Date</label>
                        <input type="date" class="form-control" id="enddate" name="enddate">
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-dark" type="submit">Cerca</button>
                        <a href="{% url 'filter' %}" class="btn btn-danger">Reset Filter</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Total Planned Hours</th>
            <th scope="col">Total Actual Hours</th>
            <th scope="col">Total Budget</th>
            <th scope="col">Total Sells</th>
            <th scope="col">Difference Hours</th>
            <th scope="col">Difference Budget</th>
        </tr>
    </thead>
    <tbody>
    {% for item in results %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.restaurant }}</td>
            <td>{{ item.total_planned_hours }}</td>
            <td>{{ item.total_actual_hours }}</td>
            <td>{{ item.total_budget }}</td>
            <td>{{ item.total_sells }}</td>
            <td>{{ item.difference_hours }}</td>
            <td>{{ item.difference_budget }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
